<div ng-include src="'partials/nav.html'"></div>
<!--<div ng-include src="'partials/header.html'"></div>-->

<div class="container-fluid">

    <br/>


    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-4 pull-right">
                    <div class="form-group">
                        <div class="input-group" id="payrunrange">
                            <input date-range-picker
                                   name="payrunrange"
                                   class="form-control
                   date-picker" type="text"
                                   ng-model="vm.date"
                                   required/>
                            <span class="input-group-addon" onclick="this.previousElementSibling.click()"><span
                                    class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>

                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-12">


                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="fa fa-info-circle"></i> <strong>Hint:</strong> You can choose date range for desired
                        data.
                    </div>
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="fa fa-info-circle"></i> <strong>Hint:</strong> Select Mar-1 to Apr-30 as valid range.
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel panel-info">
                                <!-- Default panel contents -->
                                <div class="panel-heading"><h4>Payrun <span class="heading-sub">({{vm.payrun.PayRunPeriodStartDate | date:"yyyy MMMM"}})</span>
                                </h4></div>

                                <table class="table table-condensed table-hover">
                                    <thead>
                                    <tr>
                                        <th class="text-center" width="20%">Name</th>
                                        <th class="text-center" width="20%">Email</th>
                                        <th class="text-center" width="15%">Start Date</th>
                                        <th class="text-center" width="20%">Net Pay</th>
                                        <th class="text-center" width="20%">Net Pay of previous month</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="paystub in vm.payrun.Paystubs.Paystub"
                                        ng-click="vm.showEmployeeDetail(paystub.EmployeeID, paystub)">
                                        <td class="text-center">{{paystub.FirstName}} {{paystub.LastName}}</td>
                                        <td class="text-center">{{vm.employees[paystub.EmployeeID].Email}}</td>
                                        <td class="text-center">{{vm.employees[paystub.EmployeeID].StartDate |
                                            date:"yyyy-MMM-dd"}}
                                        </td>
                                        <td class="text-center">{{paystub.NetPay}}</td>
                                        <td class="text-center">{{vm.employees[paystub.EmployeeID].PreviousNetPay}}</td>
                                    </tr>

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th class="text-center" width="20%"></th>
                                        <th class="text-center" width="20%"></th>
                                        <th class="text-center" width="10%">Total -</th>
                                        <th class="text-center" width="10%"><span ng-if="vm.payrun.NetPay">{{vm.payrun.NetPay}} </span>
                                        </th>
                                        <th class="text-center" width="10%"><span ng-if="vm.previousPayrun.NetPay"> {{vm.previousPayrun.NetPay}} </span>
                                        </th>
                                    </tr>
                                    </tfoot>
                                </table>

                            </div>

                        </div>
                    </div>

                    </br>

                    <hr>

                    <div class="row">

                        <div class="col-md-4">

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-money fa-lg"></i></h3>
                                </div>
                                <div class="panel-body text-center">
                                    Total Earning
                                    </br></br>

                                    <div class="row">
                                        <div class="col-md-12">
                                            {{vm.payrun.Earnings | currency}}

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-bar-chart fa-lg"></i></h3>
                                </div>
                                <div class="panel-body text-center">
                                    Average Earning
                                    </br></br>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <!--<a href="/#thing" class="btn btn-default btn-lg">
                                                <span class="glyphicon glyphicon-bookmark"></span> Create!
                                            </a>-->
                                            {{vm.payrun.Earnings/vm.payrun.Paystubs.Paystub.length | currency}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-users fa-lg"></i></h3>
                                </div>
                                <div class="panel-body text-center">
                                    Total Employees
                                    </br></br>

                                    <div class="row">
                                        <div class="col-md-12">
                                            {{vm.employees | keylength}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            NetPay over Time
                            <br/>
                            <br/>
                            <canvas id="bar" class="chart chart-bar"
                                    chart-data="vm.NetPayOverTimeData" chart-labels="vm.NetPayOverTimeLabels">
                                chart-series="series"
                            </canvas>
                        </div>
                        <div class="col-md-6">
                            Employment Basis
                            <br/>
                            <br/>
                            <canvas id="pie"
                                    class="chart chart-pie"
                                    chart-data="vm.chartData"
                                    chart-config="vm.config"
                                    chart-labels="vm.labels">
                            </canvas>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <hr/>

    <!--hide footer on mobile screen-->
    <div class="footer navbar-fixed-bottom visible-md visible-lg">
        <div class="container">
            <p class="text-muted credit">Xero Payroll Dashboard.<span app-version="app-version"></span></p>
        </div>
    </div>

</div>







